<settings>
  <!-- Streams -->
  <category label="30200">
    <setting id="delcache" type="bool" label="Delete Cache on Startup" default="true"/>
    <setting id="SHOWLIVE" type="bool" label="Show Live On Launch" default="true"/>
    <setting label="" type="lsep"/>
    <setting label="You need to disable inbuilt proxy to use HLS for Catchup" type="lsep"/>
    <setting id="hls" label="Use HLS For Catchup"  type="bool" default="true" enable="!eq(3,true)" />
    <setting id="livepro" label="Use HLS For Live Tv"  type="bool" default="true" />
    <setting id="UA" label="Use Safari User-Agent"  type="bool" default="true" />
    <setting label="" type="lsep"/>
    <setting id="subtitles_control" label="30130"  type="bool" default="false" />
    <setting id="video_stream" label="30210" type="enum" values="Auto|H.264 (400Kb)|H.264 (600kb)|H.264 (800kb)|H.264 (1200kb)|H.264 (1800kb)" default="0" />
    <setting id="live_stream" label="30211" type="enum" values="600kb|800kb|1200kb|1500kb|1800kb" default="2" />
    <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
    <setting id="visitor_ga" type="text" label="GA visitor" default="" visible="false"/>
  </category>
  <category label="Inbuilt Proxy">
    <setting label="Not in UK? Use our in built proxy below." type="lsep"/>
	<setting id="proxy" type="bool" label="Use Geo Unrestricted Catchup Only" default="false"/>
	<setting id="new_custom_url" type="labelenum" label="Proxy Url" default="http://www.justproxy.co.uk/" values="http://www.englandproxy.co.uk/|http://www.justproxy.co.uk/|http://www.joeproxy.co.uk/" enable="!eq(-1,false)" />
	<setting id="custom_ip" type="text" label="Custom UK IP" default="" values="" enable="!eq(-2,false)" />
    <setting label="[COLOR green]-->>>[/COLOR] [COLOR red]Click Me To Grab A UK IP[/COLOR] [COLOR green]<<<--[/COLOR]" type="action" option="open" action="RunScript($CWD/grabnewip.py)" enable="!eq(-3,false)"/> 
   </category>
  <!-- Auto View -->
  <category label="Auto-View">
	<setting id="auto-view" type="bool" label="Enable Automatic View" default="false"/>
	<setting id="default" type="number" label="Main Screen" default="50" enable="!eq(-1,false)"/>
	<setting id="show" type="number" label="Shows Listing" default="50" enable="!eq(-1,false)"/>
	<setting id="episode" type="number" label="Episode Listing" default="503" enable="!eq(-1,false)"/>
   </category>
</settings>
