<settings>
  <category label="Settings">
    <setting id="maxVideoQuality" type="enum" label="Quality" values="480p|720p|1080p" default="2" />
  </category>
  <category label="Show Match Scores">
    <setting label="Show Highlights Scores" id="highScore" type="bool" default="false" />
  </category>
  <category label="VK.Com Settings">
    <setting id="use_vk" type="bool" label="Enable your Vk Account" default="false" />
    <setting id="vk_user" type="text" label="Email/ Phone Number" default="" enable="!eq(-1,false)" />
    <setting id="vk_password" type="text" label="Password" default="" enable="!eq(-2,false)" />
  </category>
  <category label="Auto-View  Settings">
    <setting id="enable_meta" type="bool" label="Enable Metadata" default="true" />
    <setting id="auto-view" type="bool" label="Enable Automatic View" default="true" />
    <setting id="menu-view" type="labelenum" label="Menu View" values="Default Menu View|Info|Info2|Info3|Fanart|Big list|Low List|List|Poster Wrap" default="Info" enable="!eq(-1,false)" />
    <setting id="show-view" type="labelenum" label="TV Shows View" values="Default TV Shows View|Info|Info2|Info3|Fanart|Big list|Low List|List|Poster Wrap" default="Poster Wrap" enable="!eq(-2,false)" />
    <setting id="epi-view" type="labelenum" label="Episodes View" values="Default Episodes View|Info|Info2|Info3|Fanart|Big list|Low List|List|Poster Wrap" default="Info2" enable="!eq(-3,false)" />
    <setting id="movie-view" type="labelenum" label="Movies View" values="Default Movies View|Info|Info2|Info3|Fanart|Big list|Low List|List|Poster Wrap" default="Info2" enable="!eq(-4,false)" />
  </category>
</settings>
