<settings>
<category label="Auto-View">
    <setting id="pop_time" type="text" label="For POP UP" default="2000-01-01 00:00:00" visible="false"/>
    <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
    <setting id="visitor_ga" type="text" label="GA visitor" default="" visible="false"/>
	<setting id="auto-view" type="bool" label="Enable Automatic View" default="false"/>
	<setting id="default" type="number" label="EVERYTHING" default="500" enable="!eq(-1,false)"/>
</category>
</settings>